/* styles.css */
.body-customer {
  width: 100%;
  height: fit-content;
  margin: 0px auto;
}
.body-admin {
  width: 100%;
  height: fit-content;
  margin: 0px auto;
}
div.inline {
  display: inline-block;
}
figure.caption-right {
  display: flex;
  align-items: center;
}


.text-center {
  text-align: center;
  line-height: 77px;
}
span.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
/* menu.css */

div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
li.menu {
  display:inline;
  margin-right: 20px;
  text-transform: uppercase;
  
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 110px;
}
